<?xml version="1.0" encoding="utf-8"?>

<nlog autoReload="true">
    <targets>
        <target type="File" name="default" fileName="${basedir}/App_Data/logs/application.log"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

        <target type="File" name="requests" fileName="${basedir}/App_Data/logs/requests.log"
                layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>

    <rules>
        <logger name="default" minlevel="Debug" writeTo="default" final="true" />
        <logger name="requests" minlevel="Debug" writeTo="requests" final="true" />
    </rules>
</nlog>
