@{
    ViewBag.Title = "About";
}

@section styles
{
    @Styles.Render("~/bundles/about")
}

<img class="piccie" src="~/Content/materialswall.jpg" title="Granta Materials Wall"/>

<h2>About The Materials Collection</h2>

<p>
    Granta Design are the world’s leading Materials Information Experts. Our business is to help people to 
    understand materials such as those that you will see on the Materials Wall in our offices in Cambridge, 
    England. The wall helps our employees and visitors to retain their curiosity about materials by providing 
    them with a wide range of materials in all materials classes. You will find donated samples of exotic materials, 
    everyday manufactured objects and naturally-occurring materials. 
</p>

<p class="touchy">
    Visitors are encouraged to handle the materials.
</p>

<div class="links">
    <a href="http://www.grantadesign.com">Granta Design</a>
    |
    <a href="http://www.grantadesign.com/jobs/">Careers</a>
    |
    <a href="http://teachingresources.grantadesign.com/">Teaching Resources</a>
</div>

@section aboutlink
{}
