@model IEnumerable<Granta.MaterialsWall.DataAccess.Card>

@section styles
{
    @Styles.Render("~/bundles/wallcards")
}

<div id="cardcontainer">
    <div id="cardrow" class="row">
        @Html.Partial("_PageOfCards", Model);
    </div>
</div>

<div id="loading" style="display:none">
    <img src="~/Content/loading.gif" />
</div>

@section scripts
{
    @Scripts.Render("~/bundles/searchfilter")
    <script src="~/Scripts/jquery.infinite-scroll-helper.min.js"></script>
    <script>
        $('#cardcontainer').infiniteScrollHelper({
            loadMore: function (page, done) {
                var nextPageUrl = '@Url.Action("Page", "Home")?p=' + page;

                $("#loading").show();

                $.ajax({
                    url: nextPageUrl,
                    success: function(data) {
                        $("#loading").hide();
                        $(data).appendTo('#cardrow');
                        done();
                    }
                });
            }
        });
    </script>
}
