h2 {
    color: #666;
    font-size: xx-large;
}

p, h2 {
    margin-bottom: 30px;
}

img.piccie {
    float: right;
    border: 1px solid #666;
    margin-top: 10px;
}

.touchy {
    color: #D87E06;
    font-size: x-large;
    font-weight: bold;
}

.links {
    display: inline-block;
    border: 1px solid #666;
    padding: 20px;
}