body {
    x-font-size: .85em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.jumbotron {
    border-bottom: 1px solid #999;
}

.footer {
    font-size: small;
    color: #999;
    padding-bottom: 10px;
    text-align: right;
}

.footer hr {
    margin-bottom: 4px;
}

.footer a, .footer a:link, .footer a:visited {
    color: #999;
}

.footer a:hover {
    color: #666;
}

[class*="col-"] {
    padding-bottom: 5px;
    padding-left: 5px;
}

.wallcard {
    background-color: #eee;
    border: 1px solid #666;
    background: -webkit-linear-gradient(#F2F2F2, white); /* For Safari */
    background: -o-linear-gradient(#F2F2F2, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2F2F2, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2F2F2, white); /* Standard syntax */
    margin: 10px;
    padding: 4px;
    min-height: 250px;
}

.wallcard:hover {
    box-shadow: 5px 5px 3px #CCC;
}
