body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    color: #232323;
    background-color: white;
}

header, footer, nav, section {
    display: block;
}

hr {
    border-top: 1px solid #ccc;
}

.jumbotron {
    background-color: #D98028;
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    text-align: center;
    font-size: xx-large;
    line-height: 1;
    margin-bottom: 5px;
}

.jumbotron a, .jumbotron a:hover {
    color: #003366;
    text-decoration: none;
}

.footer {
    font-size: small;
    color: #999;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: right;
}

.footer hr {
    margin-bottom: 4px;
}

.footer a, .footer a:link, .footer a:visited {
    color: #999;
}

.footer a:hover {
    color: #666;
}

[class*="col-"] {
    padding-bottom: 5px;
    padding-left: 5px;
}
