.walllabel {
    border: 1px solid black;
    width: 580px;
    height: 140px;
    page-break-inside: avoid;
    background: -webkit-linear-gradient(#F2F2F2, white); /* For Safari */
    background: -o-linear-gradient(#F2F2F2, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2F2F2, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2F2F2, white); /* Standard syntax */
}    

.walllabel div {
    margin-bottom: 8px;
    padding: 3px;
}

.walllabel img {
    float: right;
}

.materialname {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: bold;
    font-size: 22px;
}

.materialpath {
    color: #cc6633;
    font-weight: bold;
    font-size: 14px;
    text-wrap: normal;
}

.materialsource {
    color: #666;
    font-weight: bold;
    font-size: 14px;
}
