input[type="range"] {
    width: 400px;
}

.slider {
    line-height: 1;
    vertical-align: top;
    margin-bottom: 20px;
    margin-top: 10px;
}

.slider span {
    line-height: 1;
    vertical-align: 40%;
    font-size: smaller;
}

.walllabel {
    border: 1px solid #efefef;
    width: 580px;
    height: 140px;
    page-break-inside: avoid;
}    

.walllabel div {
    margin-bottom: 8px;
    padding: 2px 3px 2px 3px;
}

.walllabel img {
    float: right;
    margin: 1px;
}

.materialname {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.materialnotes {
    font-size: 11px;
}

.materialpath {
    font-size: 11px;
    text-wrap: normal;
}

.materialsource {
    font-size: 11px;
}
